<div class="container mt-5">
  <ngx-spinner size = "large"
               color = "#fff"
               type = "cog"
  ><p style="font-size: 20px; color: white; margin-top: 50px;">Loading Todo...</p></ngx-spinner>

  <form [formGroup]="addNewTodoForm">
    <div class="row">
      <div class="col col-md-6 offset-md-3">
        <div class="card card-body">
          <h4>Add new todo</h4>
          <!--User Id-->
          <div class="form-group">
            <label for="userId">User Id</label>
            <input
              type="text"
              name="userId"
              id="userId"
              class="form-control"
              formControlName="userid"
              [ngClass]="{'is-invalid': addNewTodoForm.get('userid').invalid && addNewTodoForm.get('userid').dirty}"
            >
            <div class="invalid-feedback" *ngIf="addNewTodoForm.get('userid').invalid && addNewTodoForm.get('userid').dirty">
              Enter User Id!
            </div>
          </div>
          <!--Title-->
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              name="title"
              id="title"
              class="form-control"
              formControlName="title"
              [ngClass]="{'is-invalid': addNewTodoForm.get('title').invalid && addNewTodoForm.get('title').dirty}"
            >
            <div class="invalid-feedback" *ngIf="addNewTodoForm.get('title').invalid && addNewTodoForm.get('title').dirty">
              Title min length 3 char!
            </div>
          </div>
          <!--completed-->
          <div class="form-group">
            <label for="completed">Completed</label>
            <input
              type="text"
              name="completed"
              id="completed"
              class="form-control"
              formControlName="completed"
              [ngClass]="{'is-invalid': addNewTodoForm.get('completed').invalid && addNewTodoForm.get('completed').dirty}"
            >
            <div class="invalid-feedback" *ngIf="addNewTodoForm.get('completed').invalid && addNewTodoForm.get('completed').dirty">
              Enter true or false
            </div>
          </div>
          <button type="submit" class="btn btn-dark btn-block btn-lg" [disabled]="addNewTodoForm.invalid" (click)="onAddNewTodo()">Add new todo</button>
        </div>
        <!-- /.card card-body -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </form>
</div>
<!-- /.container -->
